
.wrapperPopup {
  width: 378px;

  .wrapperChildren {
    position: relative;
    width: 333px;
    word-wrap: break-word;
    margin: 0 auto 92px;
    top: 30px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;

  }

  .wrapperButton {
    display: flex;
    position: relative;
    left: 130px;
    bottom: 36px;

    .button {
      width: 96px;
      height: 36px;
      margin-right: 24px;
      border: 1px solid #1976d2;

    }
  }
}
