@import "src/assets/styles/variables";

.createPostPopup {
  position: relative;

  & > div {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    pointer-events: none;
  }
}

.upload_container {
  padding: 60px 111px 96px 111px;

  .icon_container {
    width: max-content;
    background: $dark_500;
    padding: 96px 93px;
    margin-bottom: 60px;
  }

  input {
    display: none;
  }

  label {
    cursor: pointer;

    &:hover button {
      background: $primary_100;
    }

    button {
      pointer-events: none;
    }
  }
}
