.logout {
  display: flex;
  align-items: center;
  color: white;
  margin-right: 64px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;

  .icon {
    margin-right: 15px;
  }
}