@import "src/assets/styles/variables";

.inputContainer {
  position: relative;
  display: block;
}

.fieldName {
  color: #4C4C4C;
  font-size: 14px;
  line-height: 24px;
  cursor: text;
  transition: 0.2s;
}

.inputText input {
  width: 100%;
  height: 30px;
  padding: 5px 0;
  background: transparent;
  border: 0;
  border-bottom: 1px solid $dark_300;
  color: $light_900;
  font-size: 16px;
  line-height: 24px;
}

.errorInput {
  border-bottom: 1px solid red;
}

.error {
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  padding: 1px 9px 3px 9px;
  background: #303030;
  color: red;
  font-size: 13px;
  line-height: 1.3;
  border-radius: 6px;
  margin-top: 4px;
  pointer-events: none;
  opacity: 1;
  animation-iteration-count: 1;
  z-index: 1;
}

.error:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 14px;
  width: 8px;
  height: 8px;
  transform: rotate(45deg);
  background: #303030;
  z-index: -1;
}