.container {
  display: flex;
  flex-direction: row;
  gap: 40px;

  div {
    .button {
      background-color: transparent;
      color: #397DF6;
      border: 1px solid #397DF6;
    }
  }
}

.content {
  padding: 2% 0 0 20%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;

  button[type="submit"]::after {
    content: "";
    height: 1px;
    width: 733px;
    background: #333333;
    position: absolute;
    top: -24px;
    right: 0;
  }

  span {
    position: relative;
  }

  .Image {
    border-radius: 50%;
    margin: 25px 0;
  }

  .aboutMeTextFieldStyle {
    label {
      color: #FFFFFF;
    }
    textarea {
      color: #FFFFFF;
    }

  }
}
