.container {
  display: flex;
  flex-direction: row;
  gap: 40px;

  div {
    .button {
      background-color: transparent;
      color: #397DF6;
      border: 1px solid #397DF6;
    }
  }
}

.content {
  padding: 42px 50px 50px 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;

  .Image {
    border-radius: 50%;
    margin: 25px 0;
  }

  .aboutMeTextFieldStyle {
    label {
      color: #FFFFFF;
    }

    textarea {
      color: #FFFFFF;
    }

  }
}
