.container {
  display: flex;
  flex-direction: row;
  h1 {
    color: #FFFFFF;
  }
  gap: 40px;
  div {
    .button {
      background-color: transparent;
      color: #397DF6;
      border: 1px solid #397DF6;

    }
  }
}
.content {
  padding: 25px 0 0 244px;
  position: relative;
  .line{
    height: 1px;
    width: 725px;
    background: #333333;
    margin: 25px 0;
  }

}
.Image {
  border-radius: 50%;
  margin: 25px 0;
}



