@import "src/assets/styles/variables";

.container {
  max-width: 800px;
  display: grid;
  grid-template-columns: 192px calc(100% - 242px);
  gap: 50px;

  .form p {
    margin-bottom: 20px;
  }
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 48px;

  .aboutMeTitle {
    color: #4c4c4c;
  }

  .aboutMeText {
    margin: 7px 0 20px 0;
  }

  .saveBtn {
    margin-left: auto;
  }
}
