@import "src/assets/styles/variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 42px;
  color: $light_100;
  div {
    h2 {
      font-weight: 600;
      font-size: 16px;
    }

  }
}

.container_item {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.block {
  font-size: 14px;
  width: 726px;
  padding: 14px 0 0 26px;
  background: $dark_500;
  border: 1px solid $dark_300;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  label {
    display: flex;
    align-items: center;
    gap: 14px;
    cursor: pointer;

    &.disabled {
      opacity: 0.4;
      cursor: context-menu;
    }
  }
}

.account_type_list_block {
  height: 96px;
}

.price_list_block {
  height: 190px;
}

.popup_content {
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
  select, button {
    width: 90%;
  }
}
.payment_row {
  display: flex;
}

.payment_btns {
  display: flex;
  align-items: center;
  gap: 54px;
  padding-left: 430px;
}

.second_column_title {
  position: relative;
  left: 26px;
}

.checkbox {
  text-align: center;
  appearance: none;
  height: 22.5px;
  width: 22.5px;
  //padding: 10px;
  //margin-right: 12px;
  border: 2px solid #D6D6D6;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  //background-size: 17px 17px;
  background-size: 17.5px 17.5px;
}

.checkbox:checked {
  padding-left: 5px;
  background: radial-gradient($light_100 50%, transparent 50%) no-repeat center;
  background-size: 17.5px 17.5px;
}

.modal {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
  left: 49px;
  button {
    color: $light_100;
    background: $primary_500;
    width: 282px;
    height: 36px;
    border-radius: 2px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
  }
}