.circle {
  width: 204px;
  height: 204px;
  overflow: hidden;
  border-radius: 50%;

  .block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #171717;
    width: 204px;
    height: 204px;
  }
}
