.wrapperPopup {
  display: flex;
  width: 972px;
  height: 486px;

  .wrapperImages {
    position: relative;
    width: 486px;
    overflow: hidden;

    .switchImage {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: 0.25s;
    }
  }

  .wrapperDescription {
    margin: 24px 0 0 24px;
  }
}

