.wrapperPopup {
  display: flex;

  width: 972px;
  height: 503px;
}

.wrapperImages {
  width: 500px;
  height: 500px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}