@import "src/assets/styles/variables";

.content_center {
  background: $dark_700;
  min-height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
};

.navbar_and_content {
  display: grid;
  grid-template-columns: 220px calc(100% - 220px);
  align-items: start;
}

.content_end {
  display: flex;
  justify-content: flex-end;
};