.controlElement {
  position: absolute;
  bottom: 12px;
  padding: 6px;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
}

.aspect {
  left: 12px;
}

.zoom {
  left: 72px;
}

.gallery {
  right: 12px;
}