@import "src/assets/styles/variables";

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 31px;

  .info_content {
    width: 380px;
    color: $light_100;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 31px;
  }
}