.formContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .label {
    font-size: 14px;
  }

  .fieldPassword {
    width: 100%;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #333333;
    color: #BDC1C7
  }

  .button {
    width: 100%;
    padding: 6px 0;
    background-color: #397DF6;
    color: #FFFFFF;
  }

  p {
    color: #BDC1C7;
    margin-top: 8px;
    font-size: 14px;
  }
}