.formContainer {
  display: flex;
  flex-direction: column;
  gap: 25px;

  .form_info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 330px;

    .btn_group {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    p {
      color: #BDC1C7;
      font-size: 14px;
    }

  }
}