$dark_900: #000000;
$dark_700: #0D0D0D;
$dark_500: #171717;
$dark_300: #333333;
$dark_100: #374151;
$light_900: #BDC1C7;
$light_700: #D5DAE0;
$light_500: #EDF3FA;
$light_300: #F7FBFF;
$light_100: #FFFFFF;
$primary_500: #397DF6;
$primary_100: #73A5FF;
$danger_500: #CC1439;