@import "src/assets/styles/variables";

.userInfo {
  display: flex;
  padding-bottom: 30px;
  vertical-align: middle;
  align-items: center;
  gap: 12px;

  .avatar {
    position: relative;
    width: 36px;
    height: 36px;
    overflow: hidden;
    border-radius: 50%;
  }

  .imageOutline {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $dark_500;
    width: 36px;
    height: 36px;
  }

  .username {
    font-family: 'Inter', serif;
    font-weight: 500;
    font-size: 16px;
    color: $light_100;
  }
}