@import "src/assets/styles/variables";

.footer {
  margin-top: 36px;
  color: $light_100;
  display: flex;
  align-items: center;
  gap: 24px;
  select {
    background-color: transparent;
    border: 1px solid $dark_300;
    border-radius: 2px;
    color: $light_100;
    option {
      background: $dark_500;
    }
  }
  div {
    display: flex;
    align-items: center;
    gap: 7px;
  }
}