.authContainer {
  width: 378px;
  color: #BDC1C7;
  box-sizing: border-box;
  word-wrap: break-word;
  background: #171717;
  padding: 0 24px;
  border: 1px solid #333333;
  border-radius: 2px;
  margin: 0 auto;

  .title {
    color: #ffffff;
    margin-top: 24px;
  }

  .formContainer {
    margin-top: 35px;

    .label {
      font-size: 14px;
    }

    .fieldPassword {
      width: 100%;
      border: none;
      background-color: transparent;
      border-bottom: 1px solid #333333;
      color: #BDC1C7
    }

    .button {
      width: 100%;
      margin: 42px 0 36px;
      padding: 6px 0;
      background-color: #397DF6;
      color: #FFFFFF;
    }
    .error{
      color: #CC1439;
    }

  }

  .description {
    margin-top: 8px;
    font-size: 14px;
  }
}